.containerPedidoHome {
  width: 100%;
  height: 100%;
  background-color: #f9f6f4;
  display: flex;
  position: relative;
}

.headerFilterSearch {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7bebe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputSearchFilterTable-pedido {
  background-color: #f8f9fc;
  border: 1px solid #a073ff;
}
.inputSearchFilterTable-pedido > input {
  background-color: #f8f9fc;
}

.containerPedidoHome > .listaDeProductos {
  background-color: #f9f6f4;
  width: 100%;
  padding: 30px 10px 10px 10px;
  overflow: auto;
}
.listaDeProductos::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.listaDeProductos::-webkit-scrollbar-track {
  background: #fff;        /* color of the tracking area */
}

.containerPedidoHome > .listaDeProductos::-webkit-scrollbar-thumb {
  background-color:#5645c3 ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.containerPedidoHome > .containerCarritoDeCompras {
  background-color: #eeefff;
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  box-shadow: -4px 0 4px rgb(98, 91, 91, 25%);
}

.containerCarritoDeCompras > label {
  background-color: #2b1a46;
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.containerCarritoDeCompras > label :hover {
  color: #aaf;
}

.containerCarritoDeCompras > input[type="checkbox"] {
  display: none;
}
.containerCarritoDeCompras > input:checked + .containerCartDetails {
  display: block;
}

.containerCartDetails {
  background-color: #eeefff;
  padding: 10px;
  width: 100%;
  height: 100%; /* ???? */
}

.containerListNewProduct {
  width: 100%;
  display: grid;
  row-gap: 20px;
  column-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media (width < 1050px) {
  .containerPedidoHome > .containerCarritoDeCompras {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 900px;
  }
  .listaDeProductos {
    padding-top: 0px;
  }
  .containerCartDetails {
    display: none;
  }
  .containerCarritoDeCompras > label {
    display: flex;
  }
}

@media (width < 500px){
  .containerListNewProduct {
    row-gap: 15px;
    column-gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}